[user]
	email = nishidadaishiro@team-lab.com
[alias]
	llog = log --oneline  --graph
	s = status
	co = checkout
	cm = commit -m
        cam = commit --amend
	refresh= !git fetch origin && git remote prune origin
	lloga = log --oneline --graph --all
[core]
	editor = emacs -nw
	quotepath = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
